* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 20px 150px;
    display: flex;
    flex: 1 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar {
    align-content: center;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}