* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Shared properties */

.dark-background-color {
    background-color: #1F2937;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.padding-20-150 {
    padding: 20px 150px;
}


/* Individual properties */
.header,
.awesome-website {
    display: flex;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
}


.header-logo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: #F9FAF8;
    font-family: sans-serif;
}

.nav-bar {
    display: flex;
    align-content: center;
    gap: 20px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.awesome-website-container {
    display: flex;
    flex: 1 1 auto;
    margin: 50px 0px;
    gap: 30px;
}

.awesome-website-container {
    flex: 1 1 0px;
    justify-content: space-between;
}

.text-and-buton {
    display: flex;
    align-items: center;
}

.image {
    width: 500px;
    height: auto;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.description {
    margin-bottom: 10px;
}

.image p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up {
    background-color: #3882F6;
    padding: 10px 30px;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}

/* Random information section */

.random-information {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.random-information-container {
    display: flex;
    justify-content: center;
    flex: 0 1 300px;
    gap: 100px;
}

.random-information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}


.img-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.mountains {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
}

.image-subtext {
    width: 200px;
    text-align: center;
    margin-top: 5px;
}

/* Quote section */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 420px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.quote div {
    font-weight: bold;
    font-family: sans-serif;
    text-align-last: right;
}

.blue-container {
    background-color: #3882F6;
    display: flex;
    margin: 50px 0 50px 0;
    padding: 30px 200px;
    border-radius: 5px;
}

.blue-container .header-logo .title {
    font-size: 24px;
}

.button-border {
    border-color: #F9FAF8;
}

.but {
    border-style: solid;
    border-width: 3px;
    border-color: #E5E7EB;
    border-radius: 10px;
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: sans-serif;
}